*{
    padding:0;
    margin:0;
    font-family: 'Noto Serif', serif;
}
html{
    font-size: 62.5%;
}
/* MOVILE FIRST */
.t_center{
    text-align: center;
}
.d_none{
    display: none;
}
.font_initial{
    font-family: initial;
}
.font_underline{
text-decoration: underline;
}
.list_style_none{
    list-style: none;
}
#body_grid{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(7, auto);
}
.logo{
    height: 7rem;
    width: 5rem;
    margin: 0.5rem;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.container_nav_grid{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 4fr;
    justify-items: center;
    align-items: center;
    background-image: url(../img/acuarela1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 23rem;
    border-bottom: 2px solid rgba(29,113,168,0.58);
}
.lista_nav li{
    line-height:2;
}
.lista_nav li .a_nav{
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 23em/5em 1rem;
    color:#91107bf5;
}
.container_lista_nav{
    background-color: #e0e0e0;;
    border-radius: 3rem;
    width: 12rem;
    box-shadow: 15px 15px 30px #bebebe,
                -15px -15px 30px #ffffff;
}
h1{
    font-family: 'Peralta', cursive;
    margin: 5px 20px 5px 20px;
    color: #f0ebf0;
    font-weight: normal;
    animation: text-pop-up-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}
/* animacion h1 */
@keyframes text-pop-up-top {
    0% {
    transform: translateY(0);
    transform-origin: 50% 50%;
    text-shadow: none;
    }
    100%{
    transform: translateY(-50px);
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}
.container_h1{
    border-style: double;
    color:#080707;
    padding: 1px;
    background: rgb(238,174,202);
    background: linear-gradient(108deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 50%, rgba(9,9,121,1) 97%);
}
/* Animacion titulo introduccion */
@keyframes focus-in-expand-fwd {
    0% {
    letter-spacing: -0.5em;
    transform: translateZ(-800px);
    filter: blur(12px);
    opacity: 0;
    }
    100% {
    transform: translateZ(0);
    filter: blur(0);
    opacity: 1;
    }
}
.titulo_introduccion{
    font-size: 3rem;
    margin: 1rem;
    font-family: 'Dancing Script', cursive;
    color:#11226d;
    animation: focus-in-expand-fwd 0.8s ease-in-out both;
}
.p_introduccion{
    font-size: 1.5rem;
    margin: 0.5rem;
}
.bienvenida_p{
    font-size: 1.5rem;
    margin: 1rem 3rem;
    padding: 2rem;
    border-style:ridge;
    line-height: 2;
    background-image: url(../img/fondo\ parrafo.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment:fixed;
    font-weight: bold;
}
.productos{
    height: 15rem;
    width: 15rem;
    border-radius: 2rem;
}
.img_productos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    row-gap: 0.5rem;
}
#titulo_productos{
    font-size: 1.5rem;
}
.productos_p{
    font-size: 1.5rem;
    margin: 1rem;
}
.a_productos{
    font-size: 1.5rem;
    margin: 0.5rem 0rem;
}
.a_productos a{
    text-decoration: none;
}
.atencion_personalizada{
    font-size: 1.5rem;
    margin: 1rem;
}
footer{
    background-color: #888fec;
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 1rem;
}
.red_social{
    height: 1.5rem;
    width: 1.5rem;
}
footer p{
    font-size: 1rem;
}
footer div a{
    margin: 1rem;
}
.lista_redes{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}
/* PAGINA SOBRE NOSOTROS */
.section_sobre_nosotros{
    border-style:ridge;
    margin: 1rem;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    font-weight: bolder;
}
/* PAGINA UBICACION */
.ubicacion_mapa iframe{
    width: 25rem;
    height: 25rem;
}
.ubicacion_mapa{
    display: flex;
    justify-content: center;
}
.lista_info_contacto{
    font-size: 1.5rem;
    margin: 2rem;
    padding: 1rem;
    border-style:ridge;
    line-height:2;
}


/* VISTA TABLET */
@media (min-width: 768px){
    .container_nav_grid{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
        justify-content: space-around;
        justify-items: center;
        height: 12rem;
        position: sticky;
        top:0px;
        z-index: 100;
    }
    .container_logo_titulo{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
    }
    .logo{
        display: block;
    }
    .lista_nav{
        display: flex;
        justify-content: center;
    }
    .lista_nav li .a_nav{
        background-color: #aadbf7;
        margin: 2rem;
        -webkit-box-shadow: 3px 3px 14px 2px #757575; 
        box-shadow: 3px 3px 14px 2px #757575;
        font-size: 1.8rem;
    }
    .container_lista_nav{
        background-color:transparent;
        box-shadow: none;
        width: auto;
    }
    .titulo_introduccion{
        font-size: 5rem;
    }
    .p_introduccion{
        font-size: 2rem;
        margin-top: 3rem;
    }
    .bienvenida_p{
        font-size: 2rem;
        margin-top: 3rem;
    }
    #titulo_productos{
        font-size: 2.8rem;
        margin: 2rem 0rem;
    }
    .productos_p{
        font-size: 2rem;
        margin-bottom: 3rem;
    }
    .img_productos{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        row-gap: 1rem;
    }
    .a_productos{
        font-size: 2rem;
        margin: 2rem 0rem;
    }
    .atencion_personalizada{
        font-size: 2rem;
    }
    footer{
        height:4rem
    }
    .red_social{
        height: 3rem;
        width: 3rem;
    }
    footer p{
        font-size: 2rem;
    }
    /* PAGINA SOBRE NOSOTROS */
    .section_sobre_nosotros{
        margin: 2.5rem;
    }
    /* PAGINA UBICACION */
    .ubicacion_mapa iframe{
        width: 50rem;
        height: 30rem;
    }
    .lista_info_contacto{
        font-size: 2rem;
        margin: 2rem;
        padding: 2rem;
    }
}
/* VISTA DESKTOP */
@media (min-width: 1024px){
    .container_nav_grid{
        grid-template-columns: auto auto;
        grid-template-rows: 1fr;
        height: 8rem;
    }
    .video_bienvenida{
        display: block;
        width: 80rem;
        height: 50rem;
    }
    .lista_nav .a_nav:hover { 
        background-color: #521bb9;
        color: #70def1;
    }
    .bienvenida{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .titulo_introduccion{
        font-size: 5rem;
        margin: 4rem;
        border-style: dotted;
        border-width:3px;
    }
    .p_introduccion{
        font-size: 2.8rem;
        margin: 2rem;
    }
    .bienvenida_p{
        font-size: 2.8rem;
        margin: 4rem 3rem;
    }

    #titulo_productos{
        font-size: 4rem;
    }
    .productos_p{
        font-size: 3rem;
        margin: 5rem;
    }
    .img_productos{
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto
    }
    .a_productos{
        font-size: 3rem;
        margin: 2rem;
    }      
    .atencion_personalizada{
        font-size: 2.3rem;
        margin: 4rem;
    }
    .img_productos img{
        transition: all .3s;
    }
    .img_productos img:hover{
        transform: scale(1.1) translateY(-40px);
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }
     /* PAGINA SOBRE NOSOTROS */
    .section_sobre_nosotros{
        margin: 4rem;
    }
    /* PAGINA UBICACION */
    .ubicacion_mapa iframe{
        width: 80rem;
        height: 40rem;
        margin-bottom: 3rem;
    }
    .lista_info_contacto{
        font-size: 3rem;
        margin-bottom: 5rem;
        width: 90rem;
        background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    }
    .info_contacto{
        display: flex;
        justify-content: center;
    }    
}
